<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <connectionStrings>
        <add name="Database" connectionString="server=sqlserver2012; database=esbsecurity; user=wshaddix; password=Airplane500;"/>
    </connectionStrings>
    <appSettings>
        <add key="ScriptTable" value="ScriptTable"/>
        <add key="ReleaseVersion" value="1.0.0"/>
        <add key="ResetFolder" value=".\Reset"/>
        <add key="ResetDatabase" value="true"/>
        <add key="ScriptsFolder" value=".\Scripts"/>
        <add key="Environment" value="Workstation"/>
    </appSettings>
</configuration>
